@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Graphik-Regular';
  src: './assets/font/Graphik-Regular.otf';
}
@layer {
  :root {
    @apply text-default text-lg font-normal antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }
  body {
    @apply font-graphik overflow-x-hidden;
  }
}
.section--hero-bg-gradient {
  background: #ffc200;
  background: -webkit-linear-gradient(0deg, #ffc200 0%, #ffb511 100%);
  background: linear-gradient(0deg, #ffc200 0%, #ffb511 100%);
}
